<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.springboot.provider.system.dao.RoleMapper">

    <select id="selectRoleId" resultType="com.ncu.springboot.biz.entity.Role">
SELECT * FROM tb_role WHERE role_id=#{roleId}
</select>
    <update id="updateRoles">
            update tb_role set role_name=#{roleName},remark=#{remark} where role_id=#{roleId}
    </update>
</mapper>